{%extends "base.html"%}

{%block content%}
<style>
    #background{
      background-image: url('../static/alex-shutin-hM5NONzbyTY-unsplash.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
<div class="container" id="background">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <h3 style="color: white; font-size: 40px; font-weight: bold; font-family: 'Dancing Script', cursive;">CREATE A NEW BLOG POST</h3>
                <form method="post" style="color: white;">
                    {{blog_form.hidden_tag()}}
                    {{blog_form.title.label}} {{blog_form.title(class = "form-control")}}
                    <br>
                    {{blog_form.blog.label}} {{blog_form.blog(id = "")}}
                    <br>
                    {{blog_form.submit(class = "btn btn-primary")}}
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>

{%endblock%}